@using BordClient.Models;

<h1>All Reviews:</h1>

<ol>
@foreach (Review review in Model)
{
  <ul>
    <li>Title: @review.Title</li>
    <li>Experience: @review.Experience</li>
    <li>Difficulty: @review.LearningCurve</li>
    <li>Suggestion: @review.Suggestion</li>
  </ul>
  <a href="/Reviews/Details/@(review.ReviewId)"><p>View Details</p></a>
  <br>
}
</ol>