@using BordClient.Models;

@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "_Layout";
}

<h1>All Reviews:</h1>

<a href="/Games/Index">
    <p>Games</p>
</a>

<ol>
@foreach (Review review in Model)
{
  <ul>
    <li>Title: @review.Title</li>
    <li>Experience: @review.Experience</li>
  </ul>
  <br>
}
</ol>